/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 */
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

body {
  font-family: "Karla", sans-serif;
}

.text-logo {
  font-family: "Satisfy", cursive;
  font-size: 40px;
}

.icon-block {
  padding: 0 5px;
}

.icon-block .material-icons {
  font-size: inherit;
}



/* Index */
.logoImg {
  margin-top: -1.2em;
  margin-left: -2.2em;
  height: 4.4em;
  filter: invert(100%);
}

.text-shoes {
  text-shadow: -3px 5px 10px rgba(0, 0, 0, 0.73);
}

.valign-wrapper {
  height: 80vh;
}

.none {
  display: none;
}
/* Products */

.cardShoe:hover {
  box-shadow: 1px 8px 20px grey;
  -webkit-transition: box-shadow 0.3s ease-in;
          transition: box-shadow 0.3s ease-in;
}


.popup{
  width:400px;
    background:#fff;
   border-radius:6px;
    position:absolute;
   top: 0%;
    left:50%;
    transform:translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup {
  visibility: visible;
  top: 50%;
  transform:translate(-50%, -50%) scale(1);
}

.popup img {
  width: 100px;
  margin-top: -50px;
  border-radius:50%;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.popup button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
   
/* .btn{
  padding:10px 60px;
background:#fff;
border:0;
outline:none;
cursor:pointer;
font-size:22px;
font-weight:500;
border-radius:30px;
} */
