/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 */
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

body {
  font-family: "Karla", sans-serif;
}

.text-logo {
  font-family: "Satisfy", cursive;
  font-size: 40px;
}

.icon-block {
  padding: 0 5px;
}

.icon-block .material-icons {
  font-size: inherit;
}

/* .btnSearch {
  position: absolute;
  box-shadow: inset 0px 3px 11px 0px #cf866c;
  background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  background-color: #d0451b;
  border-radius: 6px;
  border: 1px solid #942911;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 13px;
  padding: 8px 24px;
  text-decoration: none;
  text-shadow: 4px 4px 5px #854629;
} */

/* Index */
.logoImg {
  margin-top: -1.2em;
  margin-left: -2.2em;
  height: 4.4em;
  filter: invert(100%);
}

.text-shoes {
  text-shadow: -3px 5px 10px rgba(0, 0, 0, 0.73);
}

.valign-wrapper {
  height: 80vh;
}

.none {
  display: none;
}
/* Products */

.cardShoe:hover {
  box-shadow: 1px 8px 20px grey;
  -webkit-transition: box-shadow 0.3s ease-in;
}
